{{template "header" .}}

<div class="p-8 w-full">
  <h1 class="pt-4 pb-8 text-3xl font-bold text-gray-800">
      Minhas Galerias
  </h1>
  <!--A FAZER: Adicionar Código para renderizar as Galerias-->
</div>


{{template "footer" .}}
